@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

 @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    background-color:#F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 #00000033;
    color: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-header {
    background: #FFFFFF;
    padding: 0 70px 0 70px;
}

.navigation {
    display: flex;
    align-items: center;
}

.page-header-logo {
    position: relative;
    margin-right: 30px;
    margin-bottom: -6px;
}

.header-logo-link {
    position: relative;
    margin-right: 30px;
    margin-bottom: -6px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    width: 268px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    align-items: center;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 20px 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {
    position: relative;
}

.navigation-link-current::before {
    position: absolute;
    width: calc(100% - 32px);
    border: 2px #756157 solid;
    height: 0;
    bottom: -2px;
    background-color: #756157;
    content: "";
}

.navigation-user .navigation-link {
    width: 44px;
    height: 64px;
    padding: 0;
    margin: 0;
}

.navigation-link-notification {
    position: relative;
}

.notification {
    display: flex;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #7DB54F;
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    justify-content: center;
    align-items: center;
    top: 11px;
    left: 20px;
    border-radius: 10px;
}

.navigation-button {
    display: flex;
    background: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    width: 160px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 34px;
    justify-content: center;
    border-radius: 4px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 20px;
    transition: color 0.6s ease;
}

.navigation-button:hover {
    background-color: #615048;
}

.navigation-button:focus {
    background-color: #615048;
}

.navigation-button:active {
    background-color: #756157;
    color: #FFFFFF4D;
}

.navigation-button:disabled {
    background-color: #E5E5E5;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.advantages-title-intro {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.advantages-title-intersection {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.advantages-title {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.advantages-title::before {
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: -30px;
    left: 50%;
    background-color: #0000004D;
    content: "";
    transform: translateX(-50%);
}

.advantages-item-darker .advantages-title::before {
    background-color: #ffffff4D;
}

.advantages-title-continue {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-list-continue {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-item {
    width: 400px;
    min-height: 385px;
    padding: 102px 85px;
}

.advantages-item-full {
    display: flex;
    width: 100%;
    padding: 0;
}

.advantages-item-full .advantages-item-text {
    padding: 102px 85px;
}

.advantages-item-full:last-child .advantages-img {
    order: -1;
}

.advantages-item img {
    display: block;
    height: 100%;
    object-fit: cover;
    max-width: 800px;
}

.advantages-item-darker {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-super-lighter {
    background-color: #83B3D31F;
}

.advantages-item-lighter {
    background-color: #83B3D333;
}

.advantages-item-house {
    background-image: url("../images/advantage-icon-1.svg");
    background-repeat: no-repeat;
    background-position: 160px 81px;
}

.advantages-item-food {
    background-image: url("../images/advantage-icon-2.svg");
    background-repeat: no-repeat;
    background-position: 160px 81px;
}

.advantages-item-souvenirs {
    background-image: url("../images/advantage-icon-3.svg");
    background-repeat: no-repeat;
    background-position: 160px 81px;
}

.advantages-text {
    margin-top: 62px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-list-continue .advantages-item .advantages-text {
    margin: 0;
    margin-top: 30px;
}

.advantages-list-continue .advantages-item {
    padding: 183px 85px 81px 85px;
}

.advantages-intersection {
    text-align: center;
    padding: 64px 0;
    margin: 0 345px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    background-color: #82B3D3;
    text-transform: uppercase;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.6s ease;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
}

.button:active {
    background-color: #756157;
    color: #FFFFFF4D;
}

.button:disabled {
    background-color: #E5E5E5;
}

.button-reset {
    background-color: transparent;
    margin: 32px;
    transition: color 0.6s ease;
}

.button-reset:hover {
    background-color: transparent;
    opacity: 60%;
}

.button-reset:focus {
    background-color: transparent;
    border: 3px solid #83B3D3;
}

.button-reset:active {
    background-color: transparent;
    color: #FFFFFF4D;
}

.button-reset:disabled {
    background-color: transparent;
    opacity: 10%;
}

.button-submit {
    background-color: #82B3D3;
    border-radius: 4px;
    transition: color 0.6s ease;
}

.button-submit:hover {
    background-color: #68A2CA;
}

.button-submit:focus {
    background-color: #68A2CA;
}

.button-submit:active {
    background-color: #82B3D3;
    color: #FFFFFF4D;
}

.button-submit:disabled {
    background-color: #E5E5E5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.newsletter-button {
    background-color: #82B3D3;
    color: #ffffff;
    padding: 8px 50px;
    transition: color 0.6s ease;
}

.newsletter-button:hover {
    background-color: #68A2CA;
}

.newsletter-button:focus {
    background-color: #68A2CA;
}

.newsletter-button:active {
    background-color: #82B3D3;
    color: #FFFFFF4D;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-list {
    list-style-type: none;
}

.catalog-filter-group {
    border-style: none;
}

.catalog-filter-checkboxes {
    display: flex;
    flex-direction: column;
}

.catalog-filter-buttons {
    display: flex;
    flex-direction: column;
    width: 191px;
}

.catalog-options {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px 40px 70px;
    align-items: center;
}

.catalog-hotels-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.catalog-hotels {
    display: flex;
    flex-direction: column;
}

.catalog-type-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

.catalog-type-button {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.catalog-type-button:hover {
    border: 2px solid #000000;
}

.catalog-type-button:focus {
    border: 2px solid #68A2CA;
}

.catalog-type-button:active {
    border: 2px solid #000000;
}

.catalog-type-button-current {
    border: 2px solid #000000;
}

.catalog-type-cards {
    background-image: url("../images/grid-type-icon-1.svg");
    background-repeat: no-repeat;
    background-position: 14px 14px;
}

.catalog-type-gallery {
    background-image: url("../images/grid-type-icon-2.svg");
    background-repeat: no-repeat;
    background-position: 14px 14px;
}

.catalog-type-list-hotels {
    background-image: url("../images/grid-type-icon-3.svg");
    background-repeat: no-repeat;
    background-position: 14px 14px;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.control:hover {
    opacity: 60%;
}

.control:active {
    opacity: 30%;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.intro-welcome {
    background-image: url("../images/background-vector.svg"), url("../images/index-background.jpg");
    background-color: #9c9c9c;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 214px, 0;
    background-size: 1200px 485px;
    padding-top: 51px;
    padding-bottom: 82px;
}

.intro-text {
    background-color: #ffffff;
    margin-bottom: 21px;
    text-align: center;
    padding: 69px 170px;
}

.logo {
    display: block;
    margin: 0 auto;
}

.find-hotels {
    text-align: center;
    padding: 96px 304px;
}

.find-hotels-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.find-hotels-text {
    font-size: 22px;
    line-height: 26px;
}

.find-hotels-button {
    font-family: inherit;
    color: #ffffff;
    background-color: #756157;
    width: 376px;
    height: 52px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    transition: color 0.6s ease;
}

.find-hotels-button:hover {
    background-color: #615048;
}

.find-hotels-button:focus {
    background-color: #615048;
}

.find-hotels-button:active {
    color: #ffffff4D;
}

.main-container {
    flex-grow: 1;
}

.catalog-filter-container {
    background-image: url("../images/filter-background.jpg");
    padding: 35px 70px 35px 70px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 1200px 476px;
    color: #ffffff;
}

.hotel-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: auto 28px 21px 36px 36px;
    border: 1px solid #E6E6E6;
    padding: 20px;
    gap: 20px;
    row-gap: 16px;
}

.hotel-card-title {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
    margin: 0;
}

.hotel-card-type {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.hotel-card-price {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    margin: 0;
}

.hotel-card-button {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756157;
    color: #ffffff;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    transition: color 0.6s ease;
}

.hotel-card-to-favorites {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #82B3D3;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    transition: color 0.6s ease;
}

.hotel-card-to-favorites:hover {
    background-color: #68A2CA;
}

.hotel-card-to-favorites:focus {
    background-color: #68A2CA;
}

.hotel-card-to-favorites:active {
    background-color: #83B3D3;
    color: #FFFFFF4D;
}

.hotel-card-to-favorites:disabled {
    background-color: #E5E5E5;
}

.hotel-card-in-favorites {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #7DB54F;
    transition: color 0.6s ease;
}

.hotel-card-in-favorites:hover {
    background-color: #6C9E42;
}

.hotel-card-in-favorites:focus {
    background-color: #6C9E42;
}

.hotel-card-in-favorites:active {
    background-color: #7DB54F;
    color: #FFFFFF4D;
}

.hotel-card-in-favorites:disabled {
    background-color: #E5E5E5;
}

.hotel-card-rating {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotel-cards-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 80px;
    padding-left: 70px;
}

.hotel-card-stars {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    background-image: url("../images/hotel-star.svg");
    background-repeat: space;
    height: 32px;
    background-position-y: center;
}

.hotel-card-four-stars {
    width: 89px;
}

.hotel-card-third-stars {
    width: 70px;
}

.hotel-card-two-stars {
    width: 40px;
}

.subscribe {
    text-align: center;
    padding: 104px 258px;
    background-image: url(../images/subscribe-background.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #597e97;
}

.subscribe-inner {
    text-align: center;
    padding: 104px 258px;
}

.subscribe-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 70px;
}

.pagination-item {
    background-color: #82B3D3;
    border-radius: 4px;
    transition: color 0.6s ease;
}

.pagination-item:hover {
    background-color: #68A2CA;
}

.pagination-item:focus {
    background-color: #68A2CA;
}

.pagination-item:active {
    background-color: #82B3D3;
    color: #FFFFFF4D;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 2px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
    border-radius: 4px;
}

.pagination-interval {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}

.footer-contact-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: color 0.6s ease;
}

.footer-contact-phone:hover {
    color: #756157;
}

.footer-contact-phone:focus {
    color: #756157;
}

.footer-contact-phone:active {
    color: #7561574D;
}

.page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-social-item {
    text-align: center;
}

.social-button {
    display: block;
    width: 50px;
    height: 50px;
    color: #83B3D3;
    transition: color 0.6s ease;
}

.social-button:hover {
    color: #68A2CA;
}

.social-button:focus {
    color: #68A2CA
}

.social-button:active {
    color: #68A2CA4D;
}

.social-icon {
    margin-top: 15px;
}

.phone-text {
    text-align: center;
    margin: 0 auto;
}

.made-by {
    width: 250px;
    text-align: right;
}

.made-by-link {
    color: #000000;
    transition: color 0.6s ease;
}

.made-by-link:hover {
    color: #756157;
}

.made-by-link:focus {
    color: #756157;
}

.made-by-link:active {
    color: #7561574D;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 10px;
}

.breadcrumbs-link {
    position: relative;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-item {
    padding-right: 20px;
}

.breadcrumbs-item:not(:last-child) {
    background-image: url("../images/breadcrumbs-intersection-icon.svg");
    background-repeat: no-repeat;
    background-position: 30px;
    padding-right: 24px 18px;
    background-position-x: right;
}

.breadcrumbs-icon-home {
    fill: #ffffff;
}

.select-control {
    width: 290px;
    height: 49px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    font-size: 18px;
    line-height: 21px;
    padding-left: 14px;
    padding-right: 14px;
}

.select-control:hover {
    border-color: #68A2CA;
}

.select-control:focus {
    border-color: #68A2CA;
}

.select-control:active {
    border-color: #3F5E72;
}

.select-control:disabled {
    border-color: #0000004D;
    color: #0000004D;
}