@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

 @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    background-color:#F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 #00000033;
    color: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-header {
    background: #FFFFFF;
    padding: 0 70px 0 70px;
}

.navigation {
    display: flex;
    align-items: center;
}

.page-header-logo {
    margin-right: 30px;
    margin-bottom: -6px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    width: 268px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    align-items: center;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-user .navigation-link {
    width: 44px;
    height: 64px;
    padding: 0;
    margin: 0;
}

.navigation-button {
    display: flex;
    background: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    width: 160px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 34px;
    justify-content: center;
    border-radius: 4px;
}

.advantages-title-intro {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-item {
    width: 400px;
    min-height: 385px;
    padding: 102px 85px;
}

.advantages-item-full {
    display: flex;
    width: 100%;
    padding: 0;
}

.advantages-item-full .advantages-item-text {
    padding: 102px 85px;
}

.advantages-item-full:last-child .advantages-img {
    order: -1;
}

.advantages-item img {
    display: block;
    height: 100%;
    object-fit: cover;
    max-width: 800px;
}

.advantages-item-darker {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-super-lighter {
    background-color: #83B3D31F;
}

.advantages-item-lighter {
    background-color: #83B3D333;
}

.advantages-title {
    margin: 0 auto;
    text-align: center;
}

.advantages-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-intersection {
    text-align: center;
    padding: 64px 0;
    margin: 0 345px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    background-color: #82B3D3;
    text-transform: uppercase;
    border-style: none;
}

.button-reset {
    background-color: transparent;
}

.button-submit {
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.newsletter-button {
    background-color: #756157;
    color: #ffffff;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-list {
    list-style-type: none;
}

.catalog-filter-group {
    border-style: none;
}

.catalog-filter-checkboxes {
    display: flex;
    flex-direction: column;
}

.catalog-filter-buttons {
    display: flex;
    flex-direction: column;
    width: 191px;
}

.catalog-options {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px 40px 70px;
    align-items: center;
}

.catalog-hotels-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.catalog-hotels {
    display: flex;
    flex-direction: column;
}

.catalog-type-list {
    list-style-type: none;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.intro-welcome {
    background-image: url("../images/index-background.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 1200px 485px;
    padding-top: 51px;
    padding-bottom: 82px;
}

.intro-text {
    background-color: #ffffff;
    margin-bottom: 21px;
    text-align: center;
    padding: 69px 170px;
}

.logo {
    display: block;
    margin: 0 auto;
}

.find-hotels {
    text-align: center;
}

.find-hotels-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.find-hotels-text {
    font-size: 22px;
    line-height: 26px;
}

.find-hotels-button {
    font-family: inherit;
    color: #ffffff;
    background-color: #756157;
    width: 376px;
    height: 52px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;
}

.catalog-filter-container {
    background-image: url("../images/filter-background.jpg");
    background: #FFFFFF;
    padding: 35px 70px 35px 70px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 1200px 476px;
}

.hotel-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    padding: 20px;
}

.hotel-card-flex {
    display: flex;
    justify-content: space-between;
}

.hotel-card-grid {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 20px;
    row-gap: 16px;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #000000;
}

.hotel-card-type {
    font-size: 18px;
    line-height: 21px;
}

.hotel-card-price {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.hotel-card-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756157;
    color: #ffffff;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotel-card-to-favorites {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #82B3D3;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotel-card-rating {
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotel-cards-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 80px;
    padding-left: 70px;
}

.subscribe {
    text-align: center;
}

.subscribe-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 70px;
}

.pagination-item {
    background-color: #82B3D3;
}

.pagination-item:not(:last-child) {
    padding-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 2px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-interval {
    background-color: #ffffff;
}

.footer-contact-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.page-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 70px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-social {
    min-width: 142px;
    min-height: 50px;
    margin-right: auto;
}

.footer-social-item {
    padding: 0 10px;
}

.phone-text {
    text-align: center;
    margin: 0 auto;
}

.made-by {
    width: 250px;
    text-align: right;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding-left: 70px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
}
