@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

 @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #F2F2F2;
}

.page-header {
    background: #FFFFFF;
    padding: 0, 70px, 0, 70px;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.navigation-button {
    background: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    width: 160px;
    text-transform: uppercase;
}

.advantages-title-intro {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-item-darker {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-super-lighter {
    background-color: #83B3D31F;
}

.advantages-item-lighter {
    background-color: #83B3D333;
}

.advantages-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    background-color: #82B3D3;
    text-transform: uppercase;
}

.button-reset {
    background-color: transparent;
}

.newsletter-button {
    background-color: #756157;
    color: #ffffff;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-hotels-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.intro {
    background-image: url("../images/index-background.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 1200px 485px;
}

.intro-text {
    background-color: #ffffff;
}

.find-hotels {
    text-align: center;
}

.find-hotels-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.find-hotels-text {
    font-size: 22px;
    line-height: 26px;
}

.hotel-card-link {
    color: #000000;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hotel-card-type {
    font-size: 18px;
    line-height: 21px;
}

.hotel-card-price {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.hotel-card-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756157;
    color: #ffffff;
}

.hotel-card-to-favorites {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #82B3D3;
    color: #ffffff;
}

.subscribe {
    text-align: center;
}

.subscribe-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
}

.pagination-item {
    background-color: #82B3D3;
}

.pagination-link {
    color: #ffffff;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-interval {
    background-color: #ffffff;
}

.footer-contact-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
}
